@media(max-width:991px) {
    .navbar-collapse {
        background: #0b1027;
        padding: 20px;
        border-radius: 15px;
        margin-top: 15px;
    }

    .navbar-nav {
        gap: 10px;
        margin-bottom: 20px;
    }

    .header-btn {
        display: inline-block;
    }

    /*=== mega menu===*/
    .mega-menu {
        position: static !important;
        width: 100%;
        padding: 20px;
        margin-top: 10px;
    }

    .mega-menu .col-lg-3 {
        margin-bottom: 25px;
    }

    /* hero section */
    .hero-title {
        font-size: 48px;
    }

    .right-content {
        margin-top: 25px;
    }

    .card-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-hero {
        padding: 90px 0 60px;
        text-align: center;
    }

    .about-content h1 {
        font-size: 42px;
    }

    .hero-btns,
    .hero-stats {
        justify-content: center;
    }

    .about-image {
        margin-top: 167px;
    }

    .floating-card {
        left: 50%;
        transform: translateX(-50%);
    }

    .why-choose-section {
        padding: 80px 0;
    }

    .why-content {
        padding-left: 0;
        margin-top: 50px;
        text-align: center;
    }

    .why-content h2 {
        font-size: 38px;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .experience-card {
        left: 50%;
        transform: translateX(-50%);
    }
    
            .feature-grid,
            .spec-grid,
            .about-wrapper {
                grid-template-columns: repeat(2, 1fr);
            }

            .hero-content h1 {
                font-size: 48px;
            }
    .hero-content {
                text-align: center;
                margin-bottom: 50px;
            }

            .hero-content h1 {
                font-size: 45px;
            }

            .machine-wrapper {
                min-height: 491px;
            }

            .feature-card {
                width: 150px;
                padding: 15px;
            }
    .tech-title {
                font-size: 36px;
            }

            .tech-text {
                font-size: 16px;
            }
    .process-title{
        font-size:38px;
    }

    .process-image{
        margin-bottom:40px;
    }
     .section-title{
        font-size:38px;
    }

    .machine-wrapper{
        min-height:auto;
        margin:40px 0;
    }

    .machine-img{
        max-width:280px;
    }

    .pulse-1{
        width:250px;
        height:250px;
    }

    .pulse-2{
        width:350px;
        height:350px;
    }
     .dropdown-menu {
        position: static !important;
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu .submenu {
        position: static !important;
        display: none;
        width: 100%;
        margin-left: 15px;
        padding-left: 10px;
        border-left: 2px solid #ddd;
    }

    .dropdown-submenu.active .submenu {
        display: block;
    }

    .dropdown-submenu > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .wave-col{
        width:33.33%;
    }
    
}

@media(max-width:768px) {
    .feature {
        width: 100%;
    }

    .section-solution {
        background-attachment: scroll;
    }

    .atb-counter {
        flex-direction: column;
        align-items: center;
    }

    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .banner-text h2 {
        font-size: 24px;
    }

    .footer-bottom-content {
        flex-direction: column;
        text-align: center;
    }
  .footer-main {
        padding: 40px 0 0 0;
    }

    .footer-heading {
        margin-top: 30px;
    }

    .vm-box {
        padding: 45px 30px;
    }

    .vision-area h2,
    .mission-area h2 {
        font-size: 30px;
    }

    .vision-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .divider {
        width: 100%;
        height: 1px;
        border-left: none;
        border-top: 2px dotted rgba(255, 255, 255, 0.5);
    }

    .vision-content p {
        font-size: 24px;
    }

    .mission-item {
        flex-direction: column;
        gap: 20px;
    }

    .mission-item p {
        font-size: 23px;
    }
    .triple-image img {
     width: 100%; 
    /* height: 131px; */
}
    .faq-title{
        font-size:32px;
    }

    .accordion-button{
        font-size:16px;
        padding:16px;
    }
    .hero-content.first-box{
      width:100%;
      max-width:100%;
    }
     .journey-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }

            .journey-step {
                width: calc(50% - 10px);
                flex: none;
            }

            .journey-step::before,
            .journey-step::after {
                display: none;
            }
     .dropdown-menu {
        position: static !important;
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu .submenu {
        position: static !important;
        display: none;
        width: 100%;
        margin-left: 15px;
        padding-left: 10px;
        border-left: 2px solid #ddd;
    }

    .dropdown-submenu.active .submenu {
        display: block;
    }

    .dropdown-submenu > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .wave-col{
        width:50%;
    }
    
    
}

@media(max-width:576px) {
    .card-section {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .hero-title {
        font-size: 38px;
    }

    .hero-text {
        font-size: 16px;
    }

    .hero-btns {
        flex-direction: column;
    }

    .btn-blue,
    .btn-outline-custom {
        width: 100%;
        text-align: center;
    }

    .about-content h1 {
        font-size: 32px;
    }

    .about-content p {
        font-size: 15px;
    }

    .hero-btns {
        flex-direction: column;
    }

    .btn-primary-custom,
    .btn-outline-custom {
        width: 100%;
        text-align: center;
    }

    .hero-stats {
        flex-direction: column;
    }

    .floating-card {
        width: 90%;
        padding: 14px;
        left: 69px;
        bottom: -13px;
    }

    .image-bg {
        width: 300px;
        height: 300px;
    }

    .why-content h2 {
        font-size: 30px;
    }

    .why-content p {
        font-size: 15px;
    }

    .feature-box {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .image-circle {
        width: 280px;
        height: 280px;
    }

    .why-image {
        margin-bottom: 1px;
    }

    .vision-mission {
        padding: 80px 10px;
        cursor: pointer;
    }

    .vm-box {
        padding: 35px 20px;
    }

    .vision-area h2,
    .mission-area h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .vision-content {
        gap: 20px;
        margin-bottom: 50px;
    }

    .vision-icon img {
        width: 85px;
    }

    .vision-content p {
        font-size: 18px;
        line-height: 1.7;
    }

    .mission-item {
        padding: 18px 0;
        gap: 15px;
        text-align: center;
        align-items: center;
    }

    .left-side {
        gap: 15px;
    }

    .left-side img {
        width: 66px;
    }

    .left-side span {
        height: 50px;
    }

    .mission-item p {
        font-size: 17px;
        line-height: 1.6;
    }
    .feature-grid,
            .spec-grid,
            .about-wrapper {
                grid-template-columns: 1fr;
            }

            .hero-content h1 {
                font-size: 34px;
            }

            .hero-content p,
            .about-content p,
            .spec-box p {
                font-size: 15px;
            }

            .hero-btns a {
                width: 100%;
                text-align: center;
            }

            .section-title h2,
            .about-content h2,
            .cta h2 {
                font-size: 30px;
            }
     .tech-title {
                font-size: 30px;
            }

            .feature-box {
                font-size: 14px;
            }
     .hero-content h1 {
                font-size: 34px;
            }

            .machine-wrapper {
                min-height: 351px;
            }

            .machine-img {
                max-width: 300px;
            }

                .feature-card {
        width: 148px;
        font-size: 13px;
        margin-bottom: -72px;
    }

            .card1 {
                top: 0;
                left: 0;
            }

            .card2 {
                top: 0;
                right: 0;
            }

            .card3 {
                bottom: 80px;
                left: 0;
            }

            .card4 {
                bottom: 80px;
                right: 0;
            }
    .process-title{
        font-size:30px;
    }

    .timeline-item{
        gap:15px;
    }

    .timeline-number{
        width:50px;
        height:50px;
        min-width:50px;
        font-size:18px;
    }

    .timeline-item:not(:last-child)::after{
        left:24px;
    }
     .section-title{
        font-size:30px;
    }

    .wave-card h3{
        font-size:32px;
    }
    .atb-speciality-section{
        padding:12px 0px
    }
    .about-dual{
        padding:6px 0px;
    }
    .dual-hero{
        padding:20px 0px
    }
    .procto-hero-features{
        display:block;
    }
    .hero-product-section-title{
        font-size: 31px;
    }
    .hero-product-section {            
            padding: 17px;
        }

        .product-bottom-section {
            padding: 17px;
        }

        .product-bottom-section1 {
            padding: 17px;            
        }

        section.product-bottom-section2 {
            padding: 17px;           
        }

        .product-bottom-section3 {
            padding: 17px;            
        }

        .product-bottom-section4 {
            padding: 17px;            
        }

        .product-bottom-section5 {
            padding: 17px;            
        }
       .hero-content.first-box{
          width:100%; 
          max-width:100%;
         }
    
}
 @media (max-width: 400px) {
            .container {
                padding: 1.5rem;
            }

            .contact-info:before {
                display: none;
            }

            .square,
            .big-circle {
                display: none;
            }

            form,
            .contact-info {
                padding: 1.7rem 1.6rem;
            }

            .text,
            .information,
            .social-media p {
                font-size: 0.8rem;
            }

            .title {
                font-size: 1.15rem;
            }

            .social-icons a {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }

            .icon {
                width: 23px;
            }

            .input {
                padding: 0.45rem 1.2rem;
            }

            .btn {
                padding: 0.45rem 1.2rem;
            }
        }
